<footer>
  <!-- <ul class="social">
    <li><a href="https://www.facebook.com" target="_blank"><img src="./assets/images/facebook.svg"/></a></li>
    <li><a href="https://www.instagram.com" target="_blank"><img src="./assets/images/instagram.svg"/></a></li>
    <li><a href="https://www.twitter.com" target="_blank"><img src="./assets/images/twitter.svg"/></a></li>
  </ul> -->

  <ul class="footerInfo">
    <li><a routerLink="/contactus">Contact Us</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a routerLink="/faqs">FAQ</a></li>
  </ul>

  <ul class="creditCards">
      <li><img src="./assets/images/mastercard.svg"/></li>
      <li><img src="./assets/images/visa.svg"/></li>
  </ul>

</footer>
