<section class="plan">
  <h2>Snacks</h2>
  <div class="backLink">
    <a routerLink="/canteen">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Back </p>
    </a>
  </div>

  <div *ngIf="snacks" class="mealsContainer">

    <div *ngFor="let snack of snacks" class="meal">
      <div class="thumb" style="background: url('../../assets/images/erik-dungan-1079095-unsplash.png');"></div>
      <div class="mealContent">

        <div>
          <h3>{{snack.name}}</h3>
          <p>{{snack.description}}</p>
          <div class="mealoptions">
            <p class="price">
              <img style="vertical-align:middle" src="../../../assets/icons/lunchpalcoin2.png" />
              <label style="vertical-align:middle">&nbsp;R{{snack.price}}</label>
            </p>
            <div>
              <mat-select [name]="snack.qty" [(ngModel)]="snack.qty">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>

              <button class="buy"
                (click)="addProduct(snack.qty, {price:  snack.price, name: snack.name }); changeUI($event, snack.qty, snack.name);">
                Add to Order</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--
    <div class="meal">
        <div class="thumb" style="background: url('../../assets/images/erik-dungan-1079095-unsplash.png');"></div>
        <div class="mealContent">
           
        <div>
          <h3>Snack One</h3> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
          <div class="mealoptions">
            <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 3.75 </p>
            <div>
                <mat-select placeholder="0" name="snack one" [(ngModel)]="snackone">
                    <mat-option value="0">0</mat-option>  
                    <mat-option  value="1">1</mat-option>
                    <mat-option  value="2">2</mat-option>
                    <mat-option  value="3">3</mat-option>
                    <mat-option  value="4">4</mat-option>
                    <mat-option  value="5">5</mat-option>
                </mat-select>
           
             <button class="buy" (click)="addProduct(snackone, {price: 3.75, name: 'snack one'}); changeUI($event, snackone, 'snack one');">Add To Order</button>
          </div> 
          </div>
        </div>
        
       </div>
      </div>

      <div class="meal">
          <div class="thumb" style="background: url('../../assets/images/erik-dungan-1079095-unsplash.png');"></div>
          <div class="mealContent">
             
          <div>
            <h3>Snack Two</h3> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
            <div class="mealoptions">
              <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 4.75 </p>
              <div>
                  
                  <mat-select placeholder="0" name="snack two" [(ngModel)]="snacktwo">
                      <mat-option value="0">0</mat-option>  
                      <mat-option  value="1">1</mat-option>
                      <mat-option  value="2">2</mat-option>
                      <mat-option  value="3">3</mat-option>
                      <mat-option  value="4">4</mat-option>
                      <mat-option  value="5">5</mat-option>
                  </mat-select>
             
               <button class="buy" (click)="addProduct(snacktwo, {price: 4.75, name: 'snack two'}); changeUI($event, snacktwo, 'snack two');">Add To Order</button>
            </div> 
            </div>
          </div>
          
         </div>
        </div>
  -->
  </div>


</section>