.settings {
    width: 90%;
    margin: 20px auto;
    padding: 20px 10px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}