<section>
    <h2>Settings</h2>
    <div class="backLink">
        <a routerLink="/menu">
            <i class="material-icons">
                home
            </i>
            <label style="font-size: 1.2em; cursor: pointer;">Home</label>
        </a>
    </div>
    <div class="settings">
        <!-- <mat-slide-toggle [(ngModel)]="dailyLimitSetting" (change)="updateDailyLimitSetting($event)">Daily Limit</mat-slide-toggle> 
        <p>You can use a daily limit to help control your spending. Switching this on will split your balance by each remaining day in your subscription.</p> -->

        <br>

        <mat-slide-toggle [(ngModel)]="remindersSetting" (change)="updateRemindersSetting($event)">Reminders</mat-slide-toggle> 
        <p>App reminders to order lunch each morning at 10:00 AM.</p>
    </div>
</section>