<section>
  <h2>Frequently Asked Questions</h2>


<div class="questions">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 1
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> 
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 2
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> 
    </mat-expansion-panel> 
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 3
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> 
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 4
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> 
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 5
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> 
    </mat-expansion-panel>
  </mat-accordion>
 
</div>


</section>
