<section>
  <h2>Frequently Asked Questions</h2>


<div class="questions">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How many meals can I choose from each day?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>There are 3 main meals you can choose from each day, as well a selection of items from the Snack Bar.</p> 
    </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Are the meals frozen or prepared in advance?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>No, all meals are freshly prepared on the day.</p> 
      </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I skip weeks?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes, just login and pause your subscription for as long as you like.</p> 
    </mat-expansion-panel> 
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What if I have special dietary requirements?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The Lifestyle plan caters for special dietary requirements including low-carb, keto and high-protein diets.</p> 
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          When will I be charged?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Each week, you will be automatically charged at 10 AM on Monday. Lunchpal will send you a reminder before this so you can pause or cancel your subscription for the week.</p> 
    </mat-expansion-panel>
  </mat-accordion>
 
</div>


</section>
