.eventsForm {
    display: block;
    background: none;
    text-align: left;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.eventsForm mat-form-field  {
   background: none;
    width: 100%;
}

.filter {

    display: block;
    margin: 10px auto;
}

.nearbyEvents div {
    margin: 10px auto;
    padding: 10px;
    background: #fff; 
    width: 90%;
    max-width: 400px;  
}

@media screen and (min-width: 690px) {
    .eventsForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .eventsForm mat-form-field {
        margin: 10px;
    }

    .nearbyEvents {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
   
}