<section  *ngIf="userStatus === 'Active'; else showRenewMessage" class="plan">
  <h2>Light Meals</h2>
  <div class="backLink">
      <a routerLink = "/canteen">
        <i class="material-icons">
          arrow_back
        </i>
        <p>Go Back </p>
      </a>  
    </div>
<div class="mealsContainer">

  <div class="meal">
   <div class="mealContent">
    <div class="thumb" style="background: url('../../assets/images/brooke-lark-194252-unsplash.png');"></div>
    
    <div>
      <h3>Snack</h3> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
    </div> 
   </div> 
   <div class="mealoptions">
     <p class="price">$12.95</p>
     <input type="number" name="lightmealone" value="0" min="0" placeholder="0" [(ngModel)]="lightmealone"  >
     
     <button class="buy" (click)="addProduct(lightmealone, {price: 12.75, name: 'light meal one'}); changeUI($event);">Add To Cart</button>
   </div>
  </div>
  
  <div class="meal">
    <div class="mealContent">
     <div class="thumb" style="background: url('../../assets/images/brooke-lark-194252-unsplash.png');"></div>
     
     <div>
       <h3>Snack</h3> 
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
     </div> 
    </div> 
    <div class="mealoptions">
      <p class="price">$19.95</p>
      <input type="number" name="lightmealtwo"  value="0" min="0" placeholder="0"  [(ngModel)]="lightmealtwo">
      <button class="buy" (click)="addProduct(lightmealtwo, {price: 19.75, name: 'light meal two'}); changeUI($event);">Add To Cart</button>
     
    </div>
   </div>

   <div class="meal">
    <div class="mealContent">
     <div class="thumb" style="background: url('../../assets/images/brooke-lark-194252-unsplash.png');"></div>
     
     <div>
       <h3>Snack</h3> 
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
     </div> 
    </div> 
    <div class="mealoptions">
      <p class="price">$5.65</p>
      <input type="number" name="lightmealthree" value="0" min="0" placeholder="0" [(ngModel)]="lightmealthree">
      <button class="buy"  (click)="addProduct(lightmealthree, {price: 5.65, name: 'light meal three'}); changeUI($event);">Add To Cart</button>
    </div>
   </div>
</div>


</section>


<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
</section>
</ng-template>