<section class="plan">

  <h2>Light Meals</h2>
  <div class="backLink">
      <a routerLink = "/canteen">
        <i class="material-icons">
          arrow_back
        </i>
        <p>Go Back </p>
      </a>  
    </div>
  <div class="mealsContainer">
  
    <div class="meal">
     <div class="mealContent">
      <div class="thumb" style="background: url('../../../assets/images/jannis-brandt-107231-unsplash.png');"></div>
      
      <div>
        <h3>Light Meal One</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
      </div> 
     </div> 
     <div class="mealoptions">
       <p class="price">$12.95</p>
       <button class="buy" (click)="order({price: 12.95, name: 'Light Meal one'})">Order Meal</button>
     </div>
    </div>
    
    <div class="meal">
      <div class="mealContent">
       <div class="thumb" style="background: url('../../../assets/images/jannis-brandt-107231-unsplash.png');"></div>
       
       <div>
         <h3>Light Meal Two</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
       </div> 
      </div> 
      <div class="mealoptions">
        <p class="price">$12.95</p>
        <button class="buy">Order Meal</button>
      </div>
     </div>

     <div class="meal">
      <div class="mealContent">
       <div class="thumb" style="background: url('../../../assets/images/jannis-brandt-107231-unsplash.png');"></div>
       
       <div>
         <h3>Light Meal Three</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
       </div> 
      </div> 
      <div class="mealoptions">
        <p class="price">$12.95</p>
        <button class="buy">Order Meal</button>
      </div>
     </div>
  </div>


</section> 

