$color: #0f93e0;
$hoverColor: #1d8be6;

.plansContainer {
    width: 80%;
    margin: 0 auto;
}


.menuitems {
    border-radius: 8px;
}

.plans {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
}

.planPrice {
    font-size: 1.3rem;
}

button.package {
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border:1px solid $color;
    background: $color;
    color: #fff;
   
}

div.mat-card-header-text{
    margin: 0 auto;
}



button.recommended {
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    background: $color;
    color: #fff;
}

@media screen and (min-width: 890px) {
    .plans {
       margin: 0px 10px;
    }
    
    .plansContainer, .faqsContainer {
        display: flex;
        justify-content: center;
    }

}
