<section  *ngIf="userStatus === 'Active'; else showRenewMessage" class="plan">

  <h2>Main Meals</h2>
  <div class="backLink">
    <a routerLink = "/canteen">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Back </p>
    </a>  
  </div>
  
  <div class="mealsContainer">
  
    <div class="meal">
      <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
      <div class="mealContent">
         
      <div>
        <h3>Meal One</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
        <div class="mealoptions">
          <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 65 </p>
          <button class="buy" (click)="order({price: 65, name: 'Meal One'})">Add To Order</button>
        </div>
      </div>
      
     </div>
    </div>

    <div class="meal">
      <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
      <div class="mealContent">
         
      <div>
        <h3>Meal Two</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
        <div class="mealoptions">
          <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 65 </p>
          <button class="buy" (click)="order({price: 65, name: 'Meal Two'})">Add To Order</button>
        </div>
      </div>
      
     </div>
    </div>
    
  </div>


</section> 

<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
</section>
</ng-template>