
@media screen and (min-width: 690px) {
  
    .loginForm {
        width: 50%;
        max-width: 500px;
        padding: 20px 15px;
    }

    .buttonHolder {
        text-align: center;
    }

    .loginSubmit {
        display: inline;
    } 

  }

.loginForm {
    width: 80%;
    max-width: 500px;
    padding: 20px 15px;
}

.buttonHolder {
    text-align: center;
}

.loginSubmit {
    display: inline;
} 