<section  *ngIf="userStatus === 'Active'; else showRenewMessage" class="plan">
  <h2>Drinks</h2>
  <div class="backLink">
      <a routerLink = "/canteen">
        <i class="material-icons">
          arrow_back
        </i>
        <p>Go Back </p>
      </a>  
    </div>
<div class="mealsContainer">

  <div class="meal">
   <div class="mealContent">
    <div class="thumb" style="background: url('../../assets/images/leighann-renee-799319-unsplash.png'); "></div>
    
    <div>
      <h3>Drink</h3> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
    </div> 
   </div> 
   <div class="mealoptions">
     <p class="price">$3.75</p>
     <input type="number" name="drinkone" value="0" min="0" placeholder="0" [(ngModel)]="Drinkone" >
     <button class="buy" (click)="addProduct(Drinkone, {price: 3.75, name: 'Drink one'}); changeUI($event);">Add To Cart</button>
   </div>
  </div>
  
  <div class="meal">
    <div class="mealContent">
     <div class="thumb" style="background: url('../../assets/images/leighann-renee-799319-unsplash.png');"></div>
     
     <div>
       <h3>Drink</h3> 
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
     </div> 
    </div> 
    <div class="mealoptions">
      <p class="price">$2.75</p>
      <input type="number" name ="drinktwo"value="0" min="0" placeholder="0" [(ngModel)]="Drinktwo">
      <button class="buy" (click)="addProduct(Drinktwo, {price: 2.75, name: 'Drink two'}); changeUI($event);">Add To Cart</button>
     
    </div>
   </div>

   <div class="meal">
    <div class="mealContent">
     <div class="thumb" style="background: url('../../assets/images/leighann-renee-799319-unsplash.png');"></div>
     
     <div>
       <h3>Drink</h3> 
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
     </div> 
    </div> 
    <div class="mealoptions">
      <p class="price">$4.65</p>
      <input type="number" name="drinkthree" value="0" min="0" placeholder="0" [(ngModel)]="Drinkthree">
      <button class="buy" (click)="addProduct(Drinkthree, {price: 4.65, name: 'Drink three'}); changeUI($event);">Add To Cart</button>
    </div>
   </div>
</div>


</section>

<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
</section>
</ng-template>