<section class="plan">
  <h2>Drinks</h2>
  <div class="backLink">
    <a routerLink="/menu">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Back </p>
    </a>
  </div>

  <mat-spinner style="margin-top: 100px;" *ngIf="isBusy"></mat-spinner>

  <div *ngIf="drinks" class="mealsContainer">

    <div *ngFor="let drink of drinks" class="meal">
      <div class="thumb" style="background: url('../../assets/images/leighann-renee-799319-unsplash.png');"></div>
      <div class="mealContent">

        <div>
          <h3>{{drink.name}}</h3>
          <p>{{drink.description}}</p>
          <div class="mealoptions">
            <p class="price">
              <img style="vertical-align:middle" src="../../../assets/icons/lunchpalcoin2.png" />
              <label style="vertical-align:middle">&nbsp;R{{drink.price}}</label>
            </p>
            <div>


              <mat-select [name]="drink.qty" [(ngModel)]="drink.qty">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>

              <!-- <select matNativeControl placeholder="user-type" name="usertype" required>
                  <option value="" disabled selected></option>
                  <option value="type1">type1</option>
                  <option value="type2">type2</option>
                </select> -->

              <button class="buy"
                (click)="addProduct(drink.qty, {price:  drink.price, name: drink.name }); changeUI($event, drink.qty, drink.name);">Add
                to Order</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--
      <div class="meal">
          <div class="thumb" style="background: url('../../assets/images/leighann-renee-799319-unsplash.png');"></div>
          <div class="mealContent">
             
          <div>
            <h3>Drink Two</h3> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
            <div class="mealoptions">
              <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 4.75 </p>
              <div>
                  <mat-select placeholder="0" name="drink two" [(ngModel)]="drinktwo">
                      <mat-option value="0">0</mat-option>  
                      <mat-option  value="1">1</mat-option>
                      <mat-option  value="2">2</mat-option>
                      <mat-option  value="3">3</mat-option>
                      <mat-option  value="4">4</mat-option>
                      <mat-option  value="5">5</mat-option>
                  </mat-select>
             
               <button class="buy" (click)="addProduct(drinktwo, {price: 4.75, name: 'drink two'}); changeUI($event, drinktwo, 'drink two');">Add To Order</button>
            </div> 
            </div>
          </div>
          
         </div>
        </div>
-->
  </div>


</section>

<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
  </section>
</ng-template>