<section>

  <h2>Get in Touch</h2>
    <p>If you have any queries, please send a message and a representative will contact you.</p>

    <form *ngIf="!messageSent" class="contactForm" (ngSubmit)="sendMessage(contactForm.value)" [formGroup]="contactForm">
      <label for="name">Name:</label>
      <input type="text" formControlName="name">

      <label for="email">Email:</label>
      <input type="email" name="email" formControlName="email" email>


      <label for="message">Message:</label>
      <textarea formControlName="message" class="textArea"></textarea>

      <input type="submit" [disabled]="!contactForm.valid" value="Send">
    </form>


  <div class="formContainer" *ngIf="messageSent">
  
    <form class="msgSentForm">
        <img class="messageSentIcon" src="../../../assets/images/messageSent.svg" />
      <label for="name">Thanks for the message! You will be contacted shortly. </label>
    </form> 

  </div>

  <div class="contactDetails">
    <p style="color: #333;">1 Tana Road, Sunninghill, Johannesburg</p>
    <a href="mailto:info@lunchpal.co.za">info@lunchpal.co.za</a>
  </div>
</section>