<section>

  <h2>Get in Touch</h2>
  <div class="formContainer" *ngIf="!messageSent">
  
    <p>Please send a message if you have any questions.</p>

    <form class="contactForm" (ngSubmit)="sendMessage(contactForm.value)" [formGroup]="contactForm">
      <label for="name">Name:</label>
      <input type="text" formControlName="name">

      <label for="email">Email:</label>
      <input type="email" name="email" formControlName="email" email>


      <label for="message" style="padding-bottom: 10px;">Message:</label>
      <textarea formControlName="message"></textarea>

      <input type="submit" [disabled]="!contactForm.valid" value="Send">
    </form>

  </div>

  <div class="formContainer" *ngIf="messageSent">
  
    <form class="contactForm">
        <img class="messageSentIcon" src="../../../assets/images/messageSent.svg" />
      <label for="name" style="text-align: center;">Thanks for the message! You will be contacted shortly. </label>
    </form> 

  </div>

  <div class="contactDetails">
    <p style="color: #333;">1 Tana Road, Sunninghill, Johannesburg</p>
    <a href="mailto:info@lunchpal.co.za">info@lunchpal.co.za</a>
  </div>
</section>