
$color: #5ec5ff;
$hoverColor: #0f93e0;

.formContainer{
    display: block;
}


form {
    width: 60%;
    margin: 0 auto;
}

form * {
    display: block;
}



form input[type=submit]{
    color: #fff;
}


.imageDecorator{
    display: none;   
    background: url("../../assets/images/hero-image.png") bottom center;
}

@media screen and (min-width: 690px) {
  .formContainer{
      display: flex;
  }
  .imageDecorator{
    width: 35%;
    max-width: 550px;
    height: 600px;
    display: block;
    
  }   

}