<nav class="topnav">
  <ul class="menutoggler">
      <li (click)="showMenu()" class="icon"><i class="material-icons">menu</i></li>
  </ul>

  <ul class="menu">
    <li><a class="logo" [routerLink]="canteen ? ['/canteen'] : ['/home']">LUNCHPAL</a></li>
    <li *ngIf="!canteen"><a routerLink="/howitworks">How It Works</a><span class="lineBelow"></span></li>
    <li *ngIf="!canteen"><a routerLink="/plans">Plans</a><span class="lineBelow"></span></li>
    <li *ngIf="!canteen"><a routerLink="/faqs">FAQ</a><span class="lineBelow"></span></li>
    <li *ngIf="!canteen"><a routerLink="/contact">Contact</a><span class="lineBelow"></span></li>
    <li *ngIf="canteen"><a routerLink="/canteen/settings">Settings</a></li>
  </ul>


<!-- class="menu" -->
  <ul #sidenav class="sidenav">
  <li><a class="logo" [routerLink]="canteen ? ['/canteen'] : ['/home']">LUNCHPAL</a></li>
  <li><a *ngIf="!canteen" routerLink="/howitworks"> How It Works</a></li>
  <li><a *ngIf="!canteen" routerLink="/plans">Plans</a></li>
  <li><a *ngIf="!canteen" routerLink="/faqs">FAQ</a></li>
  <li><a *ngIf="!canteen" routerLink="/contact">Contact</a></li>
  <li><a *ngIf="canteen" routerLink="/canteen/settings">Settings</a></li>
  <li *ngIf="authService.user | async as user; else showsidesignup" class="sidelogout"><a href="#" (click)="logout($event)">Log Out</a></li>
     
  </ul>

  <ul class="mobileLogo">
      <li><a [routerLink]="canteen ? ['/canteen'] : ['/home']">LUNCHPAL</a></li>
  </ul>


  <ul class="options">
    <!--
    <li *ngIf="userSubscription && userStatus !== 'Expired'"><a class="basket" id="basket" routerLink="/canteen/order">
        <i class="material-icons">
          shopping_basket
        </i></a>
      
      </li>
     --> 
     <li *ngIf="authService.user | async as user; else showsignup" class="logout"><a href="#" (click)="logout($event)">Log Out</a></li>
     
    </ul>

    <ul class="creditsmobile" style="text-transform: none;">
      <li title="credits per day" class="credits" *ngIf="canteen && userSubscription && userStatus !== 'Expired'">
        <!-- Daily:&nbsp;&nbsp; -->
        {{dailyLimitSetting ? 'Daily:&nbsp;' : 'Weekly:&nbsp;'}}
        <img style="vertical-align:middle" src="../../../assets/icons/lunchpalcoin2.png" />
        <strong>&nbsp;R{{userSubscription.plan.creditsPerDay}}</strong>

        
        </li>  
    </ul>

    
  <ng-template #showsignup>
    <li class="signup"><a routerLink="/signup">Sign Up</a></li>
    <li class="login"><a routerLink="/login">Log In</a></li>
  </ng-template>
  <ng-template #showsidesignup>
    <li class="sidesignup"><a routerLink="/signup">Sign Up</a></li>
    <li class="sidelogin"><a routerLink="/login">Log In</a></li>
  </ng-template>

  <p class="clear"></p>
</nav>
