.structureContainer{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-align: left;
    background: #fff;
}
.paymentContainer {
    width: 100%;
}
.summary {
    text-align: center;
}

.mat-horizontal-stepper-content{
    margin-top: 40px;
   
}

.summary div:first-of-type h3 {
    color: #111;
}

.summary h3 {
    color: #aaa;
}



.summary > div {
    margin: 20px 0px 40px 0px;
   
}

.confirmIcon {
    max-width: 70px;
    margin: 0 auto;
    display: block;
}

.paygateIcon {
    max-width: 275px;
    margin: 0 auto;
    display: block;
}

.payTitle {
    text-align: center;
}

.controls > div > div > mat-form-field {
    width: 100%;
}

@media screen and (min-width: 1150px) {
    .paymentContainer {
        width: 70%;
    }
    .summary {
        border-left: 1px solid #eee;
        width: 20%;
        padding: 10px;
        text-align: left;
    }
    
    .structureContainer {
        display: flex;  
    }
    
    .controls {
        display: flex;
        justify-content: flex-start;
    }

    .controls > div {
        width: 100%;
        margin: 20px 20px 20px 0px;
        
    }
    
  }

