<section>
  <h2>personal & Payment Form</h2>
  <div class="structureContainer">
    <div class="paymentContainer">
    <!-- <div> -->
      <mat-horizontal-stepper linear>
        <mat-step [completed]="personalState" label="Personal Information">

          <form [formGroup]="personal" (change)="personalCompleted()">
            <!-- <p>Please fill the form below with your personal information: </p> -->
            <div class="controls">
              <div>
                <label for="firstname">First Name: </label>
                <input name="firstname" placeholder="First Name" formControlName="firstname" >
                <div *ngIf="personal.get('firstname').hasError('required') && (personal.get('firstname').dirty || personal.get('firstname').touched)">
                  <span class="error">First name is required.</span>
                </div>
              </div>
              <div>
                <label for="">Last Name: </label>
                <input name="lastname" placeholder="Last Name" formControlName="lastname" >
                <div *ngIf="personal.get('lastname').hasError('required') && (personal.get('lastname').dirty || personal.get('lastname').touched)">
                  <span class="error">Last name is required.</span>
                </div>
              </div>
            </div>

            <div class="controls">
              <div>
                <label for="phone">Phone Number: </label>
                <input type="tel" name="phone" placeholder="Phone Number" formControlName="phone" >
                <div *ngIf="personal.get('phone').hasError('required') && (personal.get('phone').dirty || personal.get('phone').touched)">
                  <span class="error">Phone is required.</span>
                </div>
              </div>
              <div>
                <label for="fdeldate">Start Date: </label>
                <div>
                  <mat-form-field [floatLabel]="'never'">
                    <input placeholder="Start Date" matInput class="datePickerInput" (ngModelChange)="personalCompleted()" [matDatepicker]="picker" formControlName="startdate">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>


                <div *ngIf="personal.get('startdate').hasError('required') && (personal.get('startdate').dirty || personal.get('startdate').touched)">
                  <span class="error">Start date is required.</span>
                </div>
              </div>
            </div>

            <div class="controls">
              <div>
                <label for="phone">Address: </label>
                <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" formControlName="address" (onAddressChange)="handleAddressChange($event)"/>
              </div>
              </div>

          </form>

          <button [disabled]="!personal.valid" class="continue" matStepperNext type="button" (click)="personalCompleted()">Continue</button>
        </mat-step>

        <mat-step [completed]="creditState" label="Credit Card Information">
          <form [formGroup]="creditCard" (change)="creditCompleted()">
            <p>Please fill the form below with your credit card information: </p>
            <div class="controls">
              <div>
                <label for="cardnumber">Credit Card Number: </label>
                <input name="cardnumber" placeholder="Credit Card Number" formControlName="cardnumber" required>
              </div>
              <div class="small">
                <label for="expdate">Expiry Date: </label>
                <input name="expdate" placeholder="Expiry Date" formControlName="expdate" required>
              </div>
              <div class="small">
                <label for="seccode">Security Code: </label>
                <input name="seccode" placeholder="Security Code" formControlName="seccode" required>
              </div>
            </div>

          </form>
          <button class="continue" *ngIf="creditCard.valid" matStepperNext type="button" (click)="creditCompleted()">Continue</button>
        </mat-step>
       <!--
        <mat-step label="Confirmation">
          <p>Please confirm your order.</p>
          <img class="confirmIcon" src="../../assets/images/box.svg" />
       
            <button class="confirmOrder" (click)="confirmOrder()">Confirm Order</button>
         
          </mat-step>
        --> 
        </mat-horizontal-stepper>
    </div>

    <div class="summary">
      <div *ngIf="selectedPlan">
        <h3>Order Summary</h3>
        
        <p><strong> Plan: {{selectedPlan.name}} R {{selectedPlan.price}}</strong></p>
        <p><strong> Credits Per Day: {{selectedPlan.creditsPerDay}}</strong> </p>
      </div>
     
      <div>
        <h3>Personal Information</h3>
        <p>Name: <span class="personalinfo">{{selectedfirstname}} {{selectedlastname}}</span></p>
        <p>Email: <span class="personalinfo">{{userEmail}}</span> </p>
        <p>Phone: <span class="personalinfo">{{selectedphone}}</span> </p>
      </div>
      <div>
        <h3>Address</h3>
        <p>Address: <span class="personalinfo">{{selectedAddress}}</span> </p>
      
      </div>
      <div>
        <h3>Start Date</h3>
        <p>Start date: <span class="personalinfo">{{startdate}}</span></p>
      </div>
    </div>



  </div>
</section>