<section class="plan">
  
  <h2>What's for lunch today?</h2>
  <p>Hi, username</p>

  <div class="menu">
    <div>
      <a routerLink="/plan/mains">
        <h3>Mains</h3>
      </a>
    </div>
    <div>
        <a routerLink="/plan/lightmeals">
          <h3>Light Meals</h3>
        </a>
    </div>
    <div>
        <a routerLink="/plan/snacks">
          <h3>Snacks</h3>
        </a>
    </div>
    <div>
        <a routerLink="/plan/drinks">
          <h3>Drinks</h3>
        </a>
    </div>
  </div>

</section>

