.order {
    width: 90%;
    margin: 20px auto;
    padding: 20px 10px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.emptyLunchbox {
    width: 90%;
    margin: 20px auto;
    padding: 20px 10px;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    border-radius: 6px;
}

.timeSelect {
    width: 142px !important;
}

// .deleteIcon {
//     color: #ff4081 !important;
// }


.lunchboxIcon {
    width: 30%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

.orderdetails {
    border-bottom: 1px solid #eee;
    
}

.orderdetails .title {
    font-weight: bold;
}

.orderdetails > div {
    display: flex;
    justify-content: space-between;
}

.orderdetails .mat-radio-button.mat-accent {
    display: block !important;
    margin-bottom: 10px;
  
}

.orderForm {
    width: 100%;

}

.item {
    position: relative;
}

.item p {
    display: flex;
    align-items: center;
}
.item p span {
    margin-right: 10px;
    color: #ff4081; //red;
    cursor: pointer;
}


input[type="time"]{
    font-family: "Source Sans Pro";
    font-size: 1.2rem;
    width: 150px;
}

@media screen and (min-width: 993px) {
    .order {
        width: 50%;
    }

    .emptyLunchbox {
        width: 50%;
    }
}