<section class="plan">
  <h2>Your Order</h2>
  <div class="backLink">
      <a href="#" (click)="goback($event)">
        <i class="material-icons">
          arrow_back
        </i>
        <p>Go Back </p>
      </a>  
    </div>
  <div class="order">
  <div class="orderdetails">
    <p class="title">Order</p>
    <div *ngIf="mainmeal; else showProductsList">
        <p>{{orderedItems}}</p>
        <p>R65</p>
    </div>
    
  </div>
  <div class="orderdetails">
    <div>
      <p>Total</p>
      <p>{{orderTotal}}</p>
    </div>
  </div>
  <div class="orderdetails">
      <p class="title">Delivery Time</p>
      <div>
       <form class="orderForm" (ngSubmit)="placeOrder(orderForm.value)" [formGroup]="orderForm"> 
        <mat-radio-group formControlName="deliveryDate">
          <mat-radio-button value="soon">As soon as possible</mat-radio-button>
          <mat-radio-button value="later">Later</mat-radio-button>  
        </mat-radio-group>
        
        <input [disabled]="!orderForm.valid" type="submit" value="Place Order" class="placeOrder"/>
      </form>
      </div>
      
    </div>

   
  </div>

  
</section>

<ng-template #showProductsList>
    <div *ngFor="let item of orderedItems">
      <p>{{item.product}} x {{item.quantity}}</p>
      <p>{{item.price * item.quantity}}</p>
    </div>


</ng-template>

