.order {
    width: 90%;
    margin: 20px auto;
    padding: 20px 10px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    border-radius: 10px;
}

.orderdetails {
    border-bottom: 1px solid #eee;
    
}

.orderdetails .title {
    font-weight: bold;
}

.orderdetails > div {
    display: flex;
    justify-content: space-between;
}

.orderdetails > div p {
    text-indent: 10px;
}
.orderdetails .mat-radio-button.mat-accent {
    display: block !important;
    margin-bottom: 10px;
  
}

.orderForm {
    width: 100%;

}

@media screen and (min-width: 993px) {
    .order {
        width: 50%;
    }
}