<section class="plan">

  <h2>Main Meals</h2>
  <div class="backLink">
    <a routerLink="/menu">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Back </p>
    </a>
  </div>

  <div class="menu">

    <div class="veggieSection">
      <a routerLink="/menu/lightmeals">
        <h3>Veggie</h3>
        <div class="overlay"></div>
      </a>
    </div>

    <div class="classicSection">
      <a routerLink="/menu/lightmeals">
        <h3>Classic</h3>
        <div class="overlay"></div>
      </a>
    </div>

    <div class="lifestyleSection">
      <a routerLink="/menu/lightmeals">
        <h3>Lifestyle</h3>
        <div class="overlay"></div>
      </a>
    </div>

  </div>



</section>