
<section class="plan">

  <h2>Main Meals</h2>
  <div class="backLink">
    <a routerLink="/menu">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Back </p>
    </a>
  </div>

  <div *ngIf="weeklyMeals" class="mealsContainer">

    <div *ngFor="let meal of weeklyMeals" class="meal">
      <div class="thumb" style="background: url('../../../assets/images/battered-fish.png');"></div>
      <div class="mealContent">

        <div>
          <h3>{{meal.name}}</h3>
          <p>{{meal.description}}</p>
          <div class="mealoptions">
            <p class="price">
              <img style="vertical-align:middle" src="../../../assets/icons/lunchpalcoin2.png" />
              <label style="vertical-align:middle">&nbsp;R{{meal.price}}</label>
            </p>

            <div>
                <mat-select [name]="meal.qty" [(ngModel)]="meal.qty">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
  
                <button class="buy"
                  (click)="addProduct(meal.qty, {price:  meal.price, name: meal.name }); changeUI($event, meal.qty, meal.name);">
                  Add to Order</button>
              </div>
          </div>
        </div>

      </div>
    </div>

  </div>


</section>

<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
  </section>
</ng-template>