<section  *ngIf="userStatus === 'Active'; else showRenewMessage" class="plan">

  <h2>Main Meals</h2>
  <div class="backLink">
    <a routerLink = "/canteen">
      <i class="material-icons">
        arrow_back
      </i>
      <p>Go Back </p>
    </a>  
  </div>
  
  <div class="mealsContainer">
  
    <div class="meal">
     <div class="mealContent">
      <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
      
      <div>
        <h3>Meal One</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
      </div> 
     </div> 
     <div class="mealoptions">
       <p class="price">$65</p>
       <button class="buy" (click)="order({price: 65, name: 'Meal One'})">Order Meal</button>
     </div>
    </div>
    
    <div class="meal">
      <div class="mealContent">
       <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
       
       <div>
         <h3>Meal Two</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
       </div> 
      </div> 
      <div class="mealoptions">
        <p class="price">$65</p>
        <button class="buy">Order Meal</button>
      </div>
     </div>

     <div class="meal">
      <div class="mealContent">
       <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
       
       <div>
         <h3>Meal Three</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
       </div> 
      </div> 
      <div class="mealoptions">
        <p class="price">$65</p>
        <button class="buy">Order Meal</button>
      </div>
     </div>
  </div>


</section> 

<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
</section>
</ng-template>