<app-nav></app-nav>
<main>
  <router-outlet></router-outlet>
</main>

<div *ngIf="lunchbox && basketChange" class="lunchbox">
   
  <div>
      <!-- <p class="price">
          <img style="vertical-align:middle" src="../../../assets/icons/lunchpalcoin2.png" /> 
          <label style="vertical-align:middle">&nbsp;R{{lightmeal.price}}</label>
        </p> -->
    <p>Total: <img style="vertical-align:middle; width: 24px;" src="../assets/icons/lunchpalcoin2.png">
       <strong style="vertical-align:middle;">R{{total}} | </strong></p> 
    <p *ngIf="(userSubscription.plan.creditsPerDay - total) <= 0; else showCreditsAvailable"> <span class="error">You have exceeded your daily amount</span></p>
   
  </div>
   
  <ng-template #showCreditsAvailable>
      <a [routerLink]="['/canteen/order']">View Lunchbox</a>  
   
  </ng-template>


</div>

<app-footer *ngIf="canteen"></app-footer>
