<app-nav></app-nav>
<main>
  <router-outlet></router-outlet>
</main>

<div *ngIf="lunchbox && basketChange" class="lunchbox">
   
  <div>
    <p>Total: <img src="../assets/icons/lunchpalcoin.svg"> <strong>R{{total}} | </strong></p> 
    <p *ngIf="(userSubscription.plan.creditsPerDay - total) <= 0; else showCreditsAvailable"> <span class="error">You have exceeded your daily amount</span></p>
   
  </div>
   
  <ng-template #showCreditsAvailable>
      <a [routerLink]="['/canteen/order']">View Lunchbox</a>  
   
  </ng-template>


</div>

<app-footer *ngIf="canteen"></app-footer>
