.catererInfo {
    background: #fff;
    display: block;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.catererInfo > div {
   padding: 10px;
}


.innerMeal {
    
    position: relative;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.innerMealPrice {
    position: absolute;
    right: 20px;
    top: 0px;
}

.categories, .categoryMeals, .orderDetails {
    text-align: left;
  
}

.item {
    border-bottom: 1px solid #ddd;
}
.categoryMeals {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


@media screen and (min-width: 690px) {
    .catererInfo{
        display: flex;
        align-items: flex-start;
        
    }
    .categories {
        width: 30%;
    }
    
    .categoryMeals {
        width: 80%;
    }
    .orderDetails {
        width: 30%;
    }
    
}