
.menu {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
    background: #fff;
   
}
.canteen {
    padding-bottom: 100px;
}
.menu div {
   
    border-bottom: 1px solid #aaa;
}

.menu div a {
    display: block;
    text-decoration: none;
    padding: 30px 0px;
}

.menu div a:hover {
    background: rgb(241, 245, 255);
   
}
.menu div:hover h3 {
    color: #5ec5ff;
}

@media screen and (min-width: 993px) {
    .menu {
        width: 50%;
    }
}
