<section  *ngIf="userStatus === 'Active'; else showRenewMessage" class="plan">
  <h2>Light Meals</h2>
  <div class="backLink">
      <a routerLink = "/canteen">
        <i class="material-icons">
          arrow_back
        </i>
        <p>Back </p>
      </a>  
    </div>
<div class="mealsContainer">
  
    <div class="meal">
        <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
        <div class="mealContent">
           
        <div>
          <h3>Light Meal One</h3> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
          <div class="mealoptions">
            <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 12.95 </p>
            <div>
                <select matNativeControl placeholder="0" name="light meal one" [(ngModel)]="lightmealone">
                  
                  <option value="0" selected>0</option>  
                    <option  value="1">1</option>
                    <option  value="2">2</option>
                    <option  value="3">3</option>
                    <option  value="4">4</option>
                    <option  value="5">5</option>
                </select>
            
             <button class="buy" (click)="addProduct(lightmealone, {price: 12.75, name: 'light meal one'}); changeUI($event, lightmealone, 'light meal one');">Add To Order</button>
          </div> 
          </div>
        </div>
        
       </div>
      </div>
      <div class="meal">
          <div class="thumb" style="background: url('../../../assets/images/brooke-lark-194252-unsplash.png');"></div>
          <div class="mealContent">
             
          <div>
            <h3>Light Meal Two</h3> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non accumsan orci.</p>
            <div class="mealoptions">
              <p class="price"><img src="../../../assets/icons/lunchpalcoin.svg" /> 12.95 </p>
              <div>
                  <select placeholder="0" name="light meal two" [(ngModel)]="lightmealtwo">
                      <option value="0">0</option>  
                      <option  value="1">1</option>
                      <option  value="2">2</option>
                      <option  value="3">3</option>
                      <option  value="4">4</option>
                      <option  value="5">5</option>
                  </select>
             
               <button class="buy" (click)="addProduct(lightmealtwo, {price: 12.75, name: 'light meal two'}); changeUI($event, lightmealtwo, 'light meal two');">Add To Order</button>
            </div> 
            </div>
          </div>
          
         </div>
        </div>

</div>


</section>


<ng-template #showRenewMessage>
  <section>
    <h2>Your Lunchbox</h2>
    <p>Your plan has expired, renew it <a routerLink="/renew">here</a></p>
</section>
</ng-template>