
@media screen and (min-width: 690px) {
    
    .signupForm {
        width: 50%;
        max-width: 500px;
        padding: 20px 15px;
    }
    
    .buttonHolder{
        text-align: center;
    }

    .signupSubmit {
        display: inline;
    }   
    
}

.signupForm {
    width: 80%;
    max-width: 500px;
    padding: 20px 15px;
}

.buttonHolder{
    text-align: center;
}

.signupSubmit {
    display: inline;
}  