section div {
  width: 90%;
  margin: 0 auto;
}

section div div {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin: 20px;
  background-size: contain;
}

.stepImages {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  background-size: contain;
  //background-size: 100%;
}

.stepImages.one{
  background: url("../../assets/images/photo-1535140728325-a4d3707eee61.jpg")left center;
}
.stepImages.two{
  background: url("../../assets/images/Abroad-Apps.jpg")center;
}
.stepImages.three{
  background: url("../../assets/images/photo-1488116977485-16651ccd3041.jpg")center;
}


@media screen and (min-width: 690px) {
  section > div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .stepImages {
    //width: 300px;
    //height: 400px;
    //background-size: contain;
  }

  section div div{
    text-align: left;
    border-bottom: none;
  }

  section div {
    width: 60%;
  }

}