section div {
  width: 90%;
  margin: 0 auto;
}

section div div {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin: 20px;
}

.stepImages {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  //background-size: 100%;
}

.stepImages.one{
  background: url("../../assets/images/1pickaplan.jpg")left center;
}
.stepImages.two{
  background: url("../../assets/images/bench-accounting-49908-unsplash.png")center;
}
.stepImages.three{
  background: url("../../assets/images/kevin-mccutcheon-698687-unsplash.png")center;
}


@media screen and (min-width: 690px) {
  section > div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .stepImages {
    //width: 300px;
    //height: 400px;
  }

  section div div{
    text-align: left;
    border-bottom: none;
  }

  section div {
    width: 60%;
  }

}