<app-landingnav></app-landingnav>
<section>
  <h2>How It Works</h2>
  <div>
    <div class="stepImages one"></div>
    <div>
      <h3>1. Pick A Plan</h3>
      <p>Choose one of the delicious meal plans that suit your lifestyle and pocket. Each plan runs as a weekly subscription service. You can pause, switch or cancel your subscription at any week.</p>
    </div>
    
  </div>

  <div>
    <div class="stepImages two"></div>
    <div>
      <h3>2. Order</h3>
      <p >Each morning, Lunchpal will remind you to order lunch. You choose one of the available options for the day and when you would like it delivered to you. There is also a selection of side items that you can choose from instead of your main meal. That's it! Now you can focus on your work while your lunch is freshly prepared and delivered to you.</p>
    </div> 
  </div>

  <div>
    <div class="stepImages three"></div>
    <div>
      <h3>3. Enjoy</h3>
      <p >Your meal arrives hot and fresh and you tuck-in.</p>
    </div>
  </div>

</section>

<app-footer></app-footer>