<section>
  <h2>How It Works</h2>
  <div>
    <div class="stepImages one"></div>
    <div>
      <h3>1. Pick A Plan</h3>
      <p>Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div>
    
  </div>

  <div>
    <div class="stepImages two"></div>
    <div>
      <h3>2. Get Your Delivery</h3>
      <p >Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div> 
  </div>

  <div>
    <div class="stepImages three"></div>
    <div>
      <h3>3. Cook, Eat, Enjoy!</h3>
      <p >Sed varius, diam porta commodo bibendum, mauris ligula convallis tellus, a efficitur velit nunc at quam. Aliquam egestas vulputate consectetur. Aliquam et eros vel libero varius commodo eget et mi. Vestibulum cursus varius luctus. Vivamus volutpat purus mattis nibh scelerisque vehicula. Vivamus eget luctus elit, facilisis consectetur libero. In ultrices tortor a tempor convallis. Vivamus ultricies quam in nisl maximus, ut bibendum ipsum aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div>
  </div>

</section>
