<section>

    <h2>Privacy Policy</h2>
  
  
    <div class="privacy">

      <h4>Collection of Information</h4>
      <p>Lunchpal shall take all reasonable steps to protect the personal information of users.
         Information provided during registration is collected as well as transactional information from your use of the service. 
         Financial information, such as your credit card details, is secured and stored by Paygate, the approved payment gateway.
         You may go to  <a href="www.paygate.co.za">www.paygate.co.za</a> to view their security certificate and security policy.
      </p>

      <h4>Use of Information</h4>
      <p>Your personal information will be used to communicate with you and for operational purposes. Lunchpal will send you daily reminders to order lunch. If you wish to turn off these notifications you may do so from your profile on the website.
        Transactional information will be used to improve the service offering and personalize your experience.
      </p>

      <h4>Disclosure of Information</h4>
      <p>Lunchpal shall not pass on your personal information to any third parties, except to registered food service providers. 
      </p>
  

  
  
    </div>
  
  </section>