/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent);
$color: #5ec5ff;
$hoverColor: #0f93e0;
// Include the default theme styles.
@include angular-material-theme($app-theme);

body * {
  transition: all 0.300s ease-in-out;
}


body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: "Source Sans Pro";

}

main {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
}

section, .section {
    margin: 0px;
    display: block;
    padding-bottom: 20px;
}

h1, h2, h3 {
  text-transform: uppercase;
 
}

h3 {
  color: #999;
}
section > h2 {
  padding-top: 20px;
  margin: 60px auto 20px auto;
  font-size: 2.3rem;
}
.arrow-container {
  z-index: 90 !important;
}

form {
  border-radius: 3px;
  padding: 20px 10px;
  background: #fff;
}

form > p, .paymentContainer form > p{
  margin-bottom: 40px;
  text-align: left;
  color: #777;
  font-size: 1rem;
}


.contactForm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

}

.loginForm, .signupForm {
  margin: 100px auto;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


form input, .loginForm, .signupForm, .paymentContainer form input {
  border:none;
  margin-bottom: 20px;
  text-align: left;
  border-bottom:1px solid #777;
}

form label {
  text-align: left;
 
}

form textarea{
  border:1px solid #eee;
  resize: vertical;
  height: 190px;
  font-family: "Source Sans Pro";

}

.paymentContainer .continue, .paymentContainer .confirmOrder, .placeOrder {
  padding: 10px;
}


.personalinfo {
  font-style: italic;
}

form input[type="submit"], .paymentContainer .continue, .paymentContainer .confirmOrder, .placeOrder{
  display: block;
  width: 70%;
  max-width: 300px;
  margin: 20px 0px 20px auto;
  background: $color;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  text-indent: 0px;
  cursor: pointer;
}

.paymentContainer .confirmOrder{
  margin: 40px auto;
}

form input[type="submit"]:hover, .paymentContainer .confirmOrder:hover, .placeOrder:hover {
  background: $hoverColor;

}

form input, form textarea {
  width: 100%;
  padding: 10px 0;
  color: #222;
  text-indent: 10px;
}

input[type="submit"]:disabled {
    background: #b4c8d3;
}

input[type="submit"]:disabled:hover {
  background: #b4c8d3;
}

.backLink a{
  display: flex;
  text-decoration: none;
  color: #022033;
  align-items: center;
  justify-content: center;
}

.backLink {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.basket {
  position: absolute;
  right: 0px;
  color: $color;
  top: -15px;
}

.basket:hover {
  color: $hoverColor;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  //overflow-x: auto;
  width: 40% !important;
  margin: 0 auto;
  justify-content: center;


  .card {
    flex: 0 0 auto;
    margin-right: 3px;
   
  }
}

.card {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  background: black;
  text-align: left;
}

.mat-tab-labels{
   justify-content: center;
}


.menuitems {
  border-radius: 8px;
  height: 180px;
  max-height: 180px;

}
.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 235px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}


.canteen {
 /*
  background: #E0EAFC;
  background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  
  background: linear-gradient(to top, #CFDEF3, #E0EAFC); 
  
  */
}

.mealsContainer {
  display: block;
 
}


.meal {
  background: #fff;
  text-align: left;
  padding: 10px;
  -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
  box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.35);
  border-radius: 10px; 
  margin: 20px auto;
  max-width: 60%;
  min-width: 300px;
}

.mealContent {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.mealContent h3 {
  color: #111;
}
.mealContent p {
  color: #777;
}

.thumb {
  width: 100%;
  display: block;
  height: 130px;
  margin-right: 20px;
  background-size: 120% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius:8px;
}

.mealoptions {
  display: flex;
  width: 90%;
  margin: 0px auto;
  justify-content: center;
}

.mealoptions input {
  width: 50px;
  margin-right: 5px;
  border-radius: 8px;
  border: 1px solid #aaa;
  text-align: center;
}


.price{
  color: #5ec5ff;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
}

.buy{
border: 1px solid #5ec5ff;
background: none;
color: #5ec5ff;
padding: 10px;
cursor: pointer;
border-radius: 5px; 
text-align: center;
}

.buy:hover {
  background: #5ec5ff;
  color: #fff;
}

@media screen and (min-width: 993px) {
  .mealsContainer {
      display: flex;
  }
  
  .mealContent {
      display: block;
  }

  .meal {
      width: 25%;
  }

  .thumb {
      width: 100%;
      display: block;
      height: 200px;
      margin-right: 0px;
      background-size:100% !important; 
    }

}