/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent);
$color: #5ec5ff;
$hoverColor: #0f93e0;
// Include the default theme styles.
@include angular-material-theme($app-theme);

body * {
  transition: all 0.300s ease-in-out;
}


body {
  margin: 0;
  font-family: "Source Sans Pro";
}

main {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
}

section, .section {
    margin: 30px 0;
    display: block;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h3 {
  color: #999;
}
section h2 {
  margin: 100px auto 20px auto;
  font-size: 2.3rem;
}

.arrow-container {
  z-index: 90 !important;
}

form {
  border-radius: 3px;
  padding: 20px 10px;
}

form > p, .paymentContainer form > p{
  margin-bottom: 40px;
  text-align: left;
  color: #777;
  font-size: 1rem;
}


.contactForm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

}

.loginForm, .signupForm {
  margin: 100px auto;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


form input, .loginForm, .signupForm, .paymentContainer form input {
  border:none;
  margin-bottom: 20px;
  text-align: left;
  border-bottom:1px solid #777;
}

form label {
  text-align: left;
  text-transform: uppercase;
 
}

form textarea{
  border:1px solid #eee;
  resize: vertical;
  height: 190px;
  font-family: "Source Sans Pro";

}

.paymentContainer .continue, .paymentContainer .confirmOrder {
  padding: 10px;
}


.personalinfo {
  font-style: italic;
}

form input[type="submit"], .paymentContainer .continue, .paymentContainer .confirmOrder{
  display: block;
  width: 70%;
  max-width: 300px;
  margin: 20px 0px 20px auto;
  background: $color;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  text-indent: 0px;
  cursor: pointer;
}

.paymentContainer .confirmOrder{
  margin: 40px auto;
}

form input[type="submit"]:hover, .paymentContainer .confirmOrder:hover {
  background: $hoverColor;

}

form input, form textarea {
  width: 100%;
  padding: 10px 0;
  color: #222;
  text-indent: 10px;
}

input[type="submit"]:disabled {
    background: #b4c8d3;
}

input[type="submit"]:disabled:hover {
  background: #b4c8d3;
}

