/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent);
$color: #5ec5ff;
$hoverColor: #0f93e0;

// Include the default theme styles.
@include angular-material-theme($app-theme);

body * {
  transition: all 0.300s ease-in-out;
}


body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: "Source Sans Pro";

}

main {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
}

section, .section {
    margin: 0px;
    display: block;
    padding-bottom: 20px;
}

h1, h2, h3 {
  text-transform: uppercase;
 
}

h3 {
  color: #999;
}
section > h2 {
  padding-top: 20px;
  margin: 60px auto 20px auto;
  font-size: 2.3rem;
}
.arrow-container {
  z-index: 90 !important;
}

form {
  border-radius: 3px;
  padding: 20px 10px;
  background: #fff;
}

form > p, .paymentContainer form > p{
  margin-bottom: 40px;
  text-align: left;
  color: #777;
  font-size: 1rem;
}


.contactForm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

}

.loginForm, .signupForm {
  margin: 100px auto;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.datePickerInput {
  margin: 0px !important;
 //padding: 10px;
  border-bottom:none !important;

}
.mat-input-element {
  margin-bottom: 6px !important;
 
}

div.mat-form-field-infix {
  border: none;
  margin-top: 5px;
  font-size: 13px !important; 
  text-indent: 10px;
font-family: Roboto;
   
}

form input, .loginForm, .signupForm, .paymentContainer form input {
  border:none;
  margin-bottom: 20px;
  text-align: left;
  border-bottom:1px solid #777;
}

form label {
  text-align: left;
 
}

form textarea{
  border:1px solid #eee;
  resize: vertical;
  height: 190px;
  font-family: "Source Sans Pro";

}

.paymentContainer .continue, .paymentContainer .confirmOrder, .placeOrder {
  padding: 10px;
}


.personalinfo {
  font-style: italic;
}

form input[type="submit"], .paymentContainer .continue, .paymentContainer .confirmOrder, .placeOrder{
  display: block;
  width: 70%;
  max-width: 300px;
  margin: 20px 0px 20px auto;
  background: $color;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  text-indent: 0px;
  cursor: pointer;
}

form input[type="submit"], .continue:disabled {
    background: #cccccc !important;
    color: #666666 !important;
}

.paymentContainer .confirmOrder{
  margin: 40px auto;
}

form input[type="submit"]:hover, .paymentContainer .confirmOrder:hover, .placeOrder:hover {
  background: $hoverColor;
}

form input, form textarea {
  width: 100%;
  padding: 10px 0;
  color: #222;
  text-indent: 10px;
}

input[type="submit"]:disabled {
    background: #b4c8d3;
}

input[type="submit"]:disabled:hover {
  background: #b4c8d3;
}

.backLink a{
  display: flex;
  text-decoration: none;
  color: #022033;
  align-items: center;
  justify-content: center;
}

.backLink {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.basket {
  position: absolute;
  right: 0px;
  color: $color;
  top: -15px;
}

.basket:hover {
  color: $hoverColor;
}

.scrolling-wrapper-flexbox {
  width: 100%;
  cursor: grabbing;
  padding-top: 10px;
  display: flex;
  height: 380px;
  margin: 0 auto;
  overflow-x: auto;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch; 
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  justify-content: space-between; 
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

//manages the tab-group height
mat-tab-group {
  height: 420px;
  //border: 1px solid red;
}

//manages the content body height of the tabs
mat-tab-body{
  height: 420px;
  //border: 1px solid blue;
}

.cardContent {
  text-align: left;
  padding: 10px;
  font-family: Vidaloka;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #222;
  
}

.mat-tab-nav-bar, .mat-tab-header {
  border: none;
}


.mat-tab-labels{
   justify-content: center;
}

.mat-card {
  box-shadow: none !important;
}

.mat-card .mat-card-image {
  width: 100%;
  max-width: 300px;
  padding: 0px;
  margin: 0px;
  
}


//card height on mobile
.menuitems.mat-card {
  padding: 0px;
  max-width: 250px;
  min-width: 250px;
  height: 290px;
  border-radius: 0px;
  overflow: hidden;
 margin: 10px;
 border-bottom: 3px solid rgb(255, 123, 0);
}


.price{
  color: #5ec5ff;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
}

.buy{
border: 1px solid #5ec5ff;
background: none;
color: #5ec5ff;
padding: 10px;
cursor: pointer;
border-radius: 5px; 
text-align: center;
}

.buy:hover {
  background: #5ec5ff;
  color: #fff;
}

.tabsControls{
  display: none;
}

.next i, .prev i {
  font-size: 1.6rem;
  background:rgba(255, 123, 0, 0.3);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}


.next{
  float: right;
}

.prev{
  float: left;
}

.next:hover i, .prev:hover i {
  background:rgba(255, 123, 0, 0.9);
 }


@media screen and (min-width: 993px) {
 
.tabsControls{
  width: 70%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  top: 160px;
}

.scrolling-wrapper-flexbox {
  width: 60%;
}
}

