.terms {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
// @media screen and (min-width: 690px) {
//   .formContainer{
//       display: flex;
//   }
//   .imageDecorator{
//     width: 35%;
//     max-width: 550px;
//     height: 600px;
//     display: block;
    
//   }   

// }