<app-landingnav></app-landingnav>
<section>

  <h2>Terms And Conditions</h2>


  <div class="terms">

    <h4>1. Acceptance of Conditions</h4>
    <p>By using the website or purchasing a subscription, you accept and agree to be bound by these Terms and Conditions
      and Privacy Policy.</p>

    <h4>2. Description of Service</h4>
    <p>Lunchpal is a business in the Food Tech industry that provides a platform for customers to order meals from
      registered
      service providers. The website and service is owned and operated by Lunchpal (Pty) Ltd.</p>

    <h4>3. Service Availablity</h4>
    <p>The website and services are available exclusively to customers residing in South Africa and is limited to the
      delivery areas specified on the website.</p>

    <h4>4. Delivery Policy</h4>
    <p>Deliveries are made between 12:00 pm and 15:00 pm to your nominated delivery address. Delivery times may be
      affected due to bad weather, traffic conditions and/or any other unforeseen circumstances.</p>

    <h4>5. Subscription Policy</h4>
    <p>By subscribing to the Lunchpal service you agree to receive access to the platform where you can order
      meals and products that will be delivered to you. A purchased subscription entitles you to a set amount of credits
      per day, which you can use to order products pertaining to the subscription plan.
      The service operates on a weekly basis from Monday to Friday. Orders must be placed before 10:30 am for delivery
      to take place.
      You are agreeing to pay for the service on a weekly recurring basis for an indefinite time. You can cancel or
      pause your subscription at any time.
      The weekly subscription amount will be charged to your credit card every Monday at 10:00 am.
      Subscriptions are inclusive of all delivery fees.</p>

    <h4>6. Service Cancellation or Interruption</h4>
    <p>To cancel or interrupt your subscription you may login to Lunchpal and pause or cancel via your profile.
      Alternatively, you may send an email to <a href="mailto:support@lunchpal.co.za">support@lunchpal.co.za</a> .</p>
      
    <h4>7. Card Acquiring and Security</h4>
    <p>Card transactions will be acquired for Lunchpal via PayGate (Pty) Ltd who are the approved payment gateway
      for all South African Acquiring Banks. PayGate uses the strictest form of encryption, namely Secure Socket Layer 3
      (SSL3) and no Card details are stored on the website. You may go to 
      <a href="http://www.paygate.co.za">www.paygate.co.za</a> to view their security
      certificate and security policy.
    </p>

    <h4>8. Customer Details Separate from Card Details</h4>
    <p>Customer details will be stored by Lunchpal, separately from card details which are entered by the client on
      PayGate’s secure site.
    </p>

    <h4>9. Merchant Outlet Country and Transaction Currency</h4>
    <p>The merchant outlet country at the time of presenting payment options to the cardholder is South Africa.
      Transaction currency is South African Rand (ZAR).</p>

    <h4>10. Pricing and Payment</h4>
    <p>Prices are inclusive of VAT at 15% and are liable to change at any time. Payment may be made via Visa and
      Mastercard.</p>


    <h4>11. Intellectual Property Rights</h4>
    <p>All intellectual property rights on the website and service belong to Lunchpal. No material from the website or any other intellectual property may be used for commercial use without prior written consent.</p>

    <h4>12. Disclaimer </h4>
    <p>Lunchpal may, in its sole discretion, change this agreement or any part thereof at any time without notice.</p>

    <h4>13. Contact Details </h4>
    <p>1 Tana Road, Sunninghill, Johannesburg</p>
    <a href="mailto:info@lunchpal.co.za">info@lunchpal.co.za</a>


  </div>

</section>