.terms {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-size: 90%;
}
// @media screen and (min-width: 690px) {
//   .formContainer{
//       display: flex;
//   }
//   .imageDecorator{
//     width: 35%;
//     max-width: 550px;
//     height: 600px;
//     display: block;
    
//   }   

// }