<header>
  <div class="info">
    <h1>WHAT'S FOR LUNCH?</h1>
    <p>Get fresh, healthy lunches delivered to your workplace.</p>
    <a class="plansLink" routerLink="/plans">View Plans</a>
  </div>
</header>

<section class="howitworks">
  <h2>How It Works</h2>
  <div class="stepsContainer">
    <div class="steps">
      <img src="./assets/images/plate1.svg" />
      <div>
        <p class="title">Pick A Plan</p>
        <p>Select a plan that suits your tastebuds.</p>
      </div>
    </div>
    <div class="steps">
      <img src="./assets/images/delivery-time.svg" />
      <div>
        <p class="title">Order</p>
        <p>Choose one of the delicious options for the day.</p>
      </div>

    </div>
    <div class="steps">
      <img src="./assets/images/delivery1.svg" />
      <div>
        <p class="title">Get your food</p>
        <p>Enjoy your lunch delivered to you.</p>
      </div>
    </div>
  </div>
</section>

<div class="section">
  <a routerLink="/plans" class="getstarted">Get Started</a>
</div>



<section>
  <h2>This week's menu</h2>

  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Traditional">
        <div class="tabsControls">
          <div class="next" (click)="goNext($event)">
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </div>
          <div class="prev" (click)="goPrev($event)">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </div>
        </div>
        <!---->
        <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false"
          (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false"
          (mouseleave)="releaseDrag($event)">

          <div class="card" *ngFor="let item of traditionalMenu | keyvalue">
            <mat-card class="menuitems">
              <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h3>{{item.value.name}}</h3>
                <p class="cardContent">
                  {{item.value.description}}</p>
              </mat-card-content>
            </mat-card>
          </div>

        </div>

    </mat-tab>


    <mat-tab label="Classic">
      <div class="tabsControls">
        <div class="next" (click)="goNext($event)">
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </div>
        <div class="prev" (click)="goPrev($event)">
          <i class="material-icons">
            keyboard_arrow_left
          </i>
        </div>
      </div>

      <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false"
        (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false" (mouseleave)="releaseDrag($event)">

        <div class="card" *ngFor="let item of classicMenu | keyvalue">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>{{item.value.name}}</h3>
              <p class="cardContent">
                {{item.value.description}}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </mat-tab>


    <mat-tab label="Lifestyle">
      <div class="tabsControls">
        <div class="next" (click)="goNext($event)">
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </div>
        <div class="prev" (click)="goPrev($event)">
          <i class="material-icons">
            keyboard_arrow_left
          </i>
        </div>
      </div>

      <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false"
        (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false" (mouseleave)="releaseDrag($event)">

        <div class="card" *ngFor="let item of lifestyleMenu | keyvalue">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>{{item.value.name}}</h3>
              <p class="cardContent">
                {{item.value.description}}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </mat-tab>
  </mat-tab-group>

</section>

<section>
  <h2>Areas Covered</h2>
  <div class="areasCovered">
    <mat-chip-list>
      <mat-chip style="background-color: #5ec5ff; color: #fff; font-size: 15px;">Sandton</mat-chip>
      <mat-chip style="background-color: #5ec5ff; color: #fff; font-size: 15px;">Bryanston</mat-chip>
      <mat-chip style="background-color: #5ec5ff; color: #fff; font-size: 15px;">Rosebank</mat-chip>
    </mat-chip-list>
  </div>
  <p style="font-style: italic;">Other areas coming soon.</p>
</section>

<section class="reasonsWhy">
  <h2>Why Lunchpal?</h2>
  <div class="reasonsContainer">
    <div class="reasons">
      <img src="./assets/images/diet.svg" />
      <div>
        <p class="title">Fresh And Affordable</p>
        <p>Cut down on greasy fast food and start living a healthy and active lifestyle.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/sandwich.svg" />
      <div>
        <p class="title">Snack Bar</p>
        <p>Don't feel like a heavy lunch today? Grab a sandwich from the snack bar.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/appointment.svg" />
      <div>
        <p class="title">Flexible Subscription</p>
        <p>Pause, resume and switch subscriptions from week to week.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/clock.svg" />
      <div>
        <p class="title">Saves You Time</p>
        <p>Gets rid of the daily lunch hassle so you can focus on changing the world. </p>
      </div>
    </div>
  </div>
</section>