<header>
  <div class="info">
    <h1>WHAT'S FOR LUNCH?</h1>
    <p>Get fresh, healthy lunches delivered to your workplace.</p>
    <a class="plansLink" routerLink="/plans">View Plans</a>
  </div>
</header>

<section class="howitworks">
  <h2>How It Works</h2>
  <div class="stepsContainer">
    <div class="steps">
      <img src="./assets/images/delivering.svg" />
      <div>
        <p class="title">Pick A Plan</p>
        <p>Select a plan that suits your tastebuds.</p>
      </div>
    </div>
    <div class="steps">
      <img src="./assets/images/order.svg" />
      <div>
        <p class="title">Order</p>
        <p>Choose one of the delicious options for the day.</p>
      </div>

    </div>
    <div class="steps">
      <img src="./assets/images/boxhome.svg" />
      <div>
        <p class="title">Get your food</p>
        <p>Enjoy your lunch delivered to you.</p>
      </div>
    </div>
  </div>
</section>

<div class="section">
  <a class="getstarted" href="#">Get Started</a>
</div>


<section>
  <h2>Menu For This Week</h2>

  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Traditional">

      <div class="scrolling-wrapper-flexbox">
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Steak with Pap and Chakalaka
              </p>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              Beef Stew with Rice
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Mince curry with Rice and Potatoes
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Classic">

      <div class="scrolling-wrapper-flexbox">
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Lemon Butter Hake with Chips
              </p>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              Roast Chicken with Veggies
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Green Chicken Curry with Rice
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Lifestyle">

      <div class="scrolling-wrapper-flexbox">
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Spicy Chicken with Cauliflower Rice
              </p>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              Shrimp and Avocado salad
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Tuna Steak with Broccoli
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>


  <!-- <div class="menusContainer">
    <div class="menus">
      <div>
        <a href="#" id="menuOne" (click)="menuHandler($event)">Traditional</a>
        <a href="#" id="menuTwo" (click)="menuHandler($event)">Classic</a>
        <a href="#" id="menuThree" (click)="menuHandler($event)">Lifestyle</a>
      </div>

      <slideshow [minHeight]="'525px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageSources" [lazyLoad]="imageSources?.length > 1"
        [autoPlayWaitForLazyLoad]="true">
      </slideshow>

    </div>
  </div> -->
</section>


<section class="reasonsWhy">
  <h2>Why Lunchpal?</h2>
  <div class="reasonsContainer">
    <div class="reasons">
      <img src="./assets/images/diet.svg" />
      <div>
        <p class="title">Fresh And Affordable</p>
        <p>Cut down on greasy take-out and start living a healthy and active lifestyle.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/vegetables.svg" />
      <div>
        <p class="title">Snack Bar</p>
        <p>Don't feel like a heavy lunch today? Order a sandwich from the snack bar.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/appointment.svg" />
      <div>
        <p class="title">Flexible Subscription</p>
        <p>Pause, resume and switch subscriptions from week to week.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/favorites.svg" />
      <div>
        <p class="title">Saves You Time</p>
        <p>Removes the daily lunch hassle so you can focus on changing the world instead. </p>
      </div>
    </div>
  </div>
</section>