<header>
  <div class="info">
    <h1>Build Your Meal Kit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at erat vestibulum, pellentesque erat non, faucibus nulla.</p>
    <a class="plansLink" routerLink="/plans">View Plans</a>
  </div>
</header>

<section class="howitworks">
  <h2>How It Works</h2>
  <div class="stepsContainer">
  <div class="steps">
    <img src="./assets/images/profiles.svg" />
    <div>
      <p class="title">Pick A Plan</p>
      <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
    </div>
  </div>
  <div class="steps">
    <img src="./assets/images/ecommerce.svg" />
    <div>
      <p class="title">Order</p>
      <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
    </div>

  </div>
  <div class="steps">
    <img src="./assets/images/delivering.svg" />
    <div>
      <p class="title">Delivering</p>
      <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
    </div>
  </div>
</div>
</section>

<div class="section">
  <a class="getstarted" href="#">Get Started</a>
</div>


<section>
  <h2>Menu For The Week</h2>
  <h3>{{menuSelected}}</h3>
  <div class="menusContainer">
    <div class="menus">
      <div>
        <a href="#" id="menuOne" (click)="menuHandler($event)">Menu 1</a>
        <a href="#" id="menuTwo" (click)="menuHandler($event)">Menu 2</a>
        <a href="#" id="menuThree" (click)="menuHandler($event)">Menu 3</a>
      </div>
    
      <slideshow 
    
      [minHeight]="'525px'"
      [autoPlay]="true"
      [showArrows]="true"
      [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlayWaitForLazyLoad]="true">
      </slideshow>
    
    </div>
  </div>
</section>


<section class="reasonsWhy">
  <h2>Why Food Service?</h2>
  <div class="reasonsContainer">
    <div class="reasons">
      <img src="./assets/images/vegetables.svg" />
      <div>
        <p class="title">No skimpin’ on the chicken!</p>
        <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/appointment.svg" />
      <div>
        <p class="title">No commitment whatsoever</p>
        <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
      </div>
  
    </div>
    <div class="reasons">
      <img src="./assets/images/favorites.svg" />
      <div>
        <p class="title">The Most 5s Stars Reviews</p>
        <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
      </div>
    </div>
    <div class="reasons">
      <img src="./assets/images/diet.svg" />
      <div>
        <p class="title">Fresh And Affordable.</p>
        <p>Donec maximus, neque vel lacinia dignissim, velit sapien convallis nisi, sed mattis lacus quam sed erat.</p>
      </div>
    </div>
  </div>
</section>