<section>
  <h2>Choose a plan</h2>

  <div class="plansContainer">
    <mat-card class="plans">
        <mat-card-header>
          <mat-card-title><h3>Mzanzi</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/pablo-merchan-montes-772142-unsplash.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              South African cuisine.
          </p>
          <strong>R50</strong>
          <p>Per day</p >

        </mat-card-content>
        <mat-card-actions>
            <button class="package">Select this plan</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="plans">
          <mat-card-header>
            <mat-card-title><h3>Classic</h3></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/kelsey-chance-575535-unsplash.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
                Everyday food.
            </p>
            <strong>R65</strong>
            <p>Per day</p>
          </mat-card-content>
          <mat-card-actions>
              <button class="package recommended" (click)="selectPlan()">Select this plan</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="plans">
            <mat-card-header>
              <mat-card-title><h3>Fit</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/alex-loup-392625-unsplash.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Health conscious food.
              </p>
              <strong>R75</strong>
              <p>Per day</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="package">Select this plan</button>
            </mat-card-actions>
          </mat-card>
    </div>


    
<section>
  <h2>Menu For The Week</h2>
  <h3>{{menuSelected}}</h3>
  <div class="menusContainer">
    <div class="menus">
      <div>
        <a href="#" id="menuOne" (click)="menuHandler($event)" >Menu 1</a>
        <a href="#" id="menuTwo" (click)="menuHandler($event)">Menu 2</a>
        <a href="#" id="menuThree" (click)="menuHandler($event)">Menu 3</a>
      </div>

      <slideshow 
      [minHeight]="'525px'"
      [autoPlay]="true"
      [showArrows]="true"
      [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlayWaitForLazyLoad]="true">
      </slideshow>

    </div>
  </div>
</section>

<section>

  <h2>FAQs</h2>
  
  <div class="faqsContainer">

    <div>
      <h3 class="title">FAQ 1</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>

    <div>
      <h3 class="title">FAQ 2</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>

    <div>
      <h3 class="title">FAQ 3</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>



  </div>


</section>


</section>