$color: #5ec5ff;
$hoverColor: #1d8be6;

.plansContainer, .faqsContainer {
    width: 80%;
    margin: 0 auto;
}


.menuitems {
    border-radius: 8px;
}

.plans {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    border-radius: 6px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
}

.planPrice {
    font-size: 1.3rem;
    padding-top: 15px !important;
}

.planDesc {
    margin-top: -10px !important;
}

.perWeek {
    font-style: italic;
    padding-bottom: 15px !important;
}

.planTitle {
    //color: #f37601; 
    font-size: 1.6em; 
    //font-weight: 500;
    color: #f37702;     
    font-family: "Source Sans Pro";
}

.menus > div {
    display: flex;
    justify-content: center;
  
  }
  

  h3 {
      font-size: 93%;
  }


  .menus a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: 1px solid $color;
    color: $color;
    border-radius: 8px;
    margin: 10px;
    text-decoration: none;
  }
  
  .menus a:hover{
    background: $hoverColor;
    color: #fff;
  }

.faqsContainer {
     display: block;
    // align-items: center;
    // text-align: center;
    //display: flex;
  //justify-content: space-between;
  //margin: 0 auto;
}

.faqPost {
    max-width: 250px;
    //display: block;
}

.faqsContainer > div {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.package {
    //margin-top: -10px !important;
}

button.package {
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border:1px solid $color;
    background: $color;
    color: #fff;
}

button.recommended {
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    background: $color;
    color: #fff;
}


div.mat-card-header-text{
    margin: 0 auto;
    // margin-top: -20px;
    // font-size: 1.2em;
    // font-weight: 500;
    // color: #1d8be6;
}

button.package:hover {
     background: $hoverColor;
     color: #fff;
}

.menusContainer {
    width: 70%;
   
    margin: 0 auto;
  }

@media screen and (min-width: 890px) {
    .plans {
       margin: 0px 10px;
    }
    
    .plansContainer, .faqsContainer {
        display: flex;
        justify-content: center;
       
    }

    .menusContainer {
        width: 50%;
        
    }
}
