<section>
  <h2>Plans</h2>

  <div class="plansContainer">
    <mat-card class="plans">
        <mat-card-header>
          <mat-card-title><h3>Plan 1</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/pablo-merchan-montes-772142-unsplash.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              Pellentesque id erat ac mi placerat auctor id ac turpis. Duis congue dolor varius ipsum semper laoreet. Etiam finibus ullamcorper hendrerit. Vestibulum tristique tincidunt libero,
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button #menuOne id="menuOne" (click)="menuHandler($event)" class="package">Select this plan</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="plans">
          <mat-card-header>
            <mat-card-title><h3>Plan 2</h3></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/kelsey-chance-575535-unsplash.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
                Pellentesque id erat ac mi placerat auctor id ac turpis. Duis congue dolor varius ipsum semper laoreet. Etiam finibus ullamcorper hendrerit. Vestibulum tristique tincidunt libero,
            </p>
          </mat-card-content>
          <mat-card-actions>
              <button #menuTwo id="menuTwo" (click)="menuHandler($event)" class="package recommended">Select this plan</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="plans">
            <mat-card-header>
              <mat-card-title><h3>Plan 3</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/alex-loup-392625-unsplash.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Pellentesque id erat ac mi placerat auctor id ac turpis. Duis congue dolor varius ipsum semper laoreet. Etiam finibus ullamcorper hendrerit. Vestibulum tristique tincidunt libero,
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button #menuThree id="menuThree" (click)="menuHandler($event)" class="package">Select this plan</button>
            </mat-card-actions>
          </mat-card>
    </div>


    
<section>
  <h2>Menu For The Week</h2>
  <h3>{{planSelected}}</h3>
  <div class="menusContainer">
    <div class="menus">
      <div>
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
        <a href="#">Menu 3</a>
      </div>

      <slideshow 
    
      [minHeight]="'525px'"
      [autoPlay]="true"
      [showArrows]="true"
      [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlayWaitForLazyLoad]="true">
      </slideshow>

    </div>
  </div>
</section>

<section>

  <h2>FAQs</h2>
  
  <div class="faqsContainer">

    <div>
      <h3 class="title">FAQ 1</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>

    <div>
      <h3 class="title">FAQ 2</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>

    <div>
      <h3 class="title">FAQ 3</h3>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et metus quis enim accumsan sollicitudin ut ac justo. Sed sodales nibh non fringilla mollis. Nullam at imperdiet sapien</p>

    </div>



  </div>


</section>


</section>