<section>
  <h2>Choose a plan</h2>

  <div class="plansContainer">
    
    <mat-card class="plans">
        <mat-card-header>
          <mat-card-title><h3>Classic</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/kelsey-chance-575535-unsplash.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              South African homestyle meals at an afforable price.
          </p>
          <p>Credits Per Day <strong>70</strong> </p>
          <p class="planPrice"> <strong>R 350</strong> </p>
         </mat-card-content>
        <mat-card-actions>
            <button *ngIf="plans.length > 0" class="package" (click)="selectPlan(plans[0].id)">Select this plan</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="plans">
        <mat-card-header>
          <mat-card-title><h3>Traditional</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/kelsey-chance-575535-unsplash.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              South African homestyle meals at an afforable price.
          </p>
          <p>Credits Per Day <strong>55</strong> </p>
          <p class="planPrice"> <strong>R 275</strong> </p>
         
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="plans.length > 0" class="package" (click)="selectPlan(plans[1].id)">Select this plan</button>
        </mat-card-actions>
      </mat-card>
      
      <mat-card class="plans">
        <mat-card-header>
          <mat-card-title><h3>Lifestyle</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/kelsey-chance-575535-unsplash.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              South African homestyle meals at an afforable price.
          </p>
          <p>Credits Per Day <strong>85</strong> </p>
          <p class="planPrice"> <strong>R 425</strong></p>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="plans.length > 0" class="package" (click)="selectPlan(plans[2].id)">Select this plan</button>
        </mat-card-actions>
      </mat-card>
  
    </div>


    
  
<section>
  <h2>Menu For This Week</h2>
 

  <mat-tab-group>
    <mat-tab label="Traditional">
        <div class="tabsControls">
            <div class="next" (click)="goNext($event)">
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </div>
            <div class="prev" (click)="goPrev($event)">
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
          </div>

      <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false" (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false" (mouseleave)="releaseDrag($event)">
        <div class="card">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="cardContent">
                Steak with Pap and Chakalaka</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
            <mat-card class="menuitems">
              <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="cardContent">
                  Steak with Pap and Chakalaka</p>
              </mat-card-content>
            </mat-card>
          </div>

        <div class="card">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="cardContent">
                Beef Stew with Rice
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="card">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="cardContent">
                Mince curry with Rice and Potatoes
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div class="card">
            <mat-card class="menuitems">
              <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="cardContent">
                  Mince curry with Rice and Potatoes
                </p>
              </mat-card-content>
            </mat-card>
        </div>
  
      </div>

    </mat-tab>

    <mat-tab label="Classic">
      <div class="tabsControls">
          <div class="next" (click)="goNext($event)">
              <i class="material-icons">
                  keyboard_arrow_right
              </i>
          </div>
          <div class="prev" (click)="goPrev($event)">
              <i class="material-icons">
                  keyboard_arrow_left
              </i>
          </div>
        </div>

    <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false" (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false" (mouseleave)="releaseDrag($event)">
      <div class="card">
        <mat-card class="menuitems">
          <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="cardContent">
              Steak with Pap and Chakalaka</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
          <mat-card class="menuitems">
            <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="cardContent">
                Steak with Pap and Chakalaka</p>
            </mat-card-content>
          </mat-card>
        </div>

      <div class="card">
        <mat-card class="menuitems">
          <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="cardContent">
              Beef Stew with Rice
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="card">
        <mat-card class="menuitems">
          <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="cardContent">
              Mince curry with Rice and Potatoes
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      

    </div>

  </mat-tab>
  <mat-tab label="Lifestyle">
    <div class="tabsControls">
        <div class="next" (click)="goNext($event)">
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </div>
        <div class="prev" (click)="goPrev($event)">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </div>
      </div>

  <div class="scrolling-wrapper-flexbox" (mousemove)="scrollDrag($event); false" (mouseup)="releaseDrag($event); false" (mousedown)="holdDrag($event); false" (mouseleave)="releaseDrag($event)">
    <div class="card">
      <mat-card class="menuitems">
        <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="cardContent">
            Steak with Pap and Chakalaka</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
        <mat-card class="menuitems">
          <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="cardContent">
              Steak with Pap and Chakalaka</p>
          </mat-card-content>
        </mat-card>
      </div>

    <div class="card">
      <mat-card class="menuitems">
        <img mat-card-image src="../../assets/images/asian-food-bowl-cuisine-699953.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="cardContent">
            Beef Stew with Rice
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-tab>
</mat-tab-group>

</section>
<section>

  <h2>FAQs</h2>
  
  <div class="faqsContainer">

    <div>
      <h3 class="title">How many meals can I choose from each day?</h3>
      <p>There are 3 main meals you can choose from each day, as well a selection of items from the Snack Bar.</p>

    </div>

    <div>
      <h3 class="title">Are the meals frozen?</h3>
      <p>No, all meals are freshly prepared on the day.</p>

    </div>

    <div>
      <h3 class="title">What if I have special dietary requirements? –</h3>
      <p>Yes, the Lifestyle plan caters for special dietary requirements including gluten-free, ketogenic and high-protien diets.</p>

    </div>



  </div>


</section>


</section>